@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Encode Sans Expanded', sans-serif;
    scroll-behavior: smooth;
}







#Button1{
    background: #01BF71;
    padding: 12px 30px;
    color: #010606;
    font-size: 16px;
    border-radius: 50px;
    white-space: nowrap;
    outline: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}
#Button1:hover{
    background: #fff;
    transition: all 0.2s ease-in-out;
}
#InfoContainer1{
    background: #010606;
    color: #fff;
}
@media screen and (max-width: 768px){
    #InfoContainer1{
        padding: 100px 0;
    }
}
.InfoWrapper{
    display: grid;
    z-index: 1;
    height: 860px;
    width: 100%;
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 24px;
    justify-content: center;
}
#InfoRow1{
    display: grid;
    grid-auto-columns: minmax(auto, 1fr);
    align-items: center;
    grid-template-areas: 'col1 col2';
}
@media screen and (max-width: 768px){
    #InfoRow1{
        grid-template-areas: 'col1 col1' 'col2 col2';
    }
}
.Column1{
    margin-bottom: 15px;
    padding: 0 15px;
    grid-area: col1;
}
.Column2{
    margin-bottom: 15px;
    padding: 0 15px;
    grid-area: col2;
}
.TextWrapper{
    max-width: 540px;
    padding-top: 0;
    padding-bottom: 60px;
}
.TopLine{
    color: #01bf71;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-bottom: 16px;
}
#Heading1{
    color: #f7f8fa;
    margin-bottom: 24px;
    font-size: 48px;
    line-height: 1.1;
    font-weight: 600;
}
@media screen and (max-width: 480px){
    #Heading1{
        font-size: 32px;
    }
}
#Subtitle1{
    color: #fff;
    max-width: 440px;
    margin-bottom: 35px;
    font-size: 18px;
    line-height: 24px;
}
.BtnWrap{
    display: flex;
    justify-content: flex-start;
}
.ImgWrap{
    max-width: 555px;
    height: 100%;
}
.Img{
    width: 100%;
    margin: 0 0 10px 0;
    padding-right: 0;
}

.xcxLogo{
    width:10%;
    height:10%;
}





#Button2{
    background: #010606;
    padding: 12px 30px;
    color: #fff;
    font-size: 16px;
    border-radius: 50px;
    white-space: nowrap;
    outline: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}
#Button2:hover{
    background: #01BF71;
    transition: all 0.2s ease-in-out;
}
#InfoContainer2{
    background: #f9f9f9;
    color: #010606;
}
@media screen and (max-width: 768px){
    #InfoContainer2{
        padding: 100px 0;
    }
}
#InfoRow2{
    display: grid;
    grid-auto-columns: minmax(auto, 1fr);
    align-items: center;
    grid-template-areas: 'col2 col1';
}
@media screen and (max-width: 768px){
    #InfoRow2{
        grid-template-areas: 'col1' 'col2';
    }
}
#Heading2{
    color: #010606;
    margin-bottom: 24px;
    font-size: 48px;
    line-height: 1.1;
    font-weight: 600;
}
@media screen and (max-width: 480px){
    #Heading2{
        font-size: 32px;
    }
}
#Subtitle2{
    color: #010606;
    max-width: 440px;
    margin-bottom: 35px;
    font-size: 18px;
    line-height: 24px;
}





#Button3{
    background: #01BF71;
    padding: 12px 30px;
    color: #010606;
    font-size: 16px;
    border-radius: 50px;
    white-space: nowrap;
    outline: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}
#Button3:hover{
    background: #fff;
    transition: all 0.2s ease-in-out;
}
#InfoContainer3{
    background: #010606;
    color: #fff;
}
@media screen and (max-width: 768px){
    #InfoContainer3{
        padding: 100px 0;
    }
}
#InfoRow3{
    display: grid;
    grid-auto-columns: minmax(auto, 1fr);
    align-items: center;
    grid-template-areas: 'col1 col2';
}
@media screen and (max-width: 768px){
    #InfoRow3{
        grid-template-areas: 'col1 col1' 'col2 col2';
    }
}
#Heading3{
    color: #f7f8fa;
    margin-bottom: 24px;
    font-size: 48px;
    line-height: 1.1;
    font-weight: 600;
}
@media screen and (max-width: 480px){
    #Heading3{
        font-size: 32px;
    }
}
#Subtitle3{
    color: #fff;
    max-width: 440px;
    margin-bottom: 35px;
    font-size: 18px;
    line-height: 24px;
}










#Button4{
    background: #01BF71;
    padding: 12px 30px;
    color: #010606;
    font-size: 16px;
    border-radius: 50px;
    white-space: nowrap;
    outline: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}
#Button4:hover{
    background: #fff;
    transition: all 0.2s ease-in-out;
}
#InfoContainer4{
    background: #010606;
    color: #fff;
}
@media screen and (max-width: 768px){
    #InfoContainer4{
        padding: 500px 0;
    }
}
@media screen and (max-width: 480px){
    #InfoContainer4{
        padding: 200px 0;
    }
}
#InfoRow4{
    display: grid;
    grid-auto-columns: minmax(auto, 1fr);
    align-items: center;
    grid-template-areas: 'col1 col2';
}
@media screen and (max-width: 768px){
    #InfoRow4{
        grid-template-areas: 'col1 col1' 'col2 col2';
    }
}
#Heading4{
    color: #f7f8fa;
    margin-bottom: 24px;
    font-size: 48px;
    line-height: 1.1;
    font-weight: 600;
}
@media screen and (max-width: 480px){
    #Heading4{
        font-size: 32px;
    }
}
#Subtitle4{
    color: #fff;
    max-width: 440px;
    margin-bottom: 35px;
    font-size: 18px;
    line-height: 24px;
}




.FooterContainer{
    background-color: #101522;
}
.FooterWrap{
    padding: 48px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
}
.FooterLinksContainer{
    display: flex;
    justify-content: center;
}
@media screen and (max-width:820px){
    .FooterLinksContainer{
        padding-top: 32px;
    }
}
.FooterLinksWrapper{
    display: flex;
}
@media screen and (max-width: 820px){
    .FooterLinksWrapper{
        flex-direction: column;
    }
}
.FooterLinkItems{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
    color: #fff;
}
@media screen and (max-width: 420px){
    .FooterLinkItems{
        margin: 0;
        padding: 10px;
        width: 100%;
    }
}
.FooterLinkTitle{
    font-size: 14px;
    margin-bottom: 16px;
}
.FooterLink{
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
    font-size: 14px;
}
.FooterLink:hover{
    color: #01bf71;
    transition: 0.3s ease-out;
}
.SocialMedia{
    max-width: 1000px;
    width: 100%;
}
.SocialMediaWrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 40px auto 0 auto;
}
@media screen and (max-width: 820px){
    .SocialMediaWrap{
        flex-direction: column;
    }
}
.SocialLogo{
    color: #fff;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
    display: flex;
    align-items:center;
    margin-bottom: 16px;
    font-weight:  bold;
}
.WebsiteRights{
    color: #fff;
    margin-bottom: 16px;
}
.SocialIcons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
}
.SocialIconsLink{
    color: #fff;
    font-size: 24px;
}


.EmailField{
    padding: 15px;
    border-radius: 50px;
    border: none;
    background: transparent;
    border: 2px solid #01bf71;
    color: #01bf71;
    width: 350px;
    text-align: center;
    position: relative;
    animation-name: shake;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes shake{
    0% {left: 0}
    5% {left: -3px}
    10% {left: 5px}
    15% {left: -8px}
    20% {left: 8px}
    25% {left: -5px}
    30% {left: 3px}
    35% {left: 0}
}

@media screen and (max-width: 450px){
    .EmailField{
        width: 80vw;
    }
}
.EmailField:focus{
    outline: none;
}
.EmailField::placeholder{
    color: #01bf71;
    text-align: center;
}
